
html{
    font-size: 16px;
}


body {
    background-color: black;
}


header h1 {
    font-family: 'Permanent Marker';
    font-size: 3.4rem;
    color: aliceblue;
}


h3 {
    color:aliceblue;
    font-family: 'Roboto Mono';
    font-size: 1.3rem;
    text-align: center;
}

p {
    color: white;
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 1.1rem;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
}


.mission  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 65px; 
}

.mission .image-container {
    position: absolute;
    inset: 0;
    background-image: url('./Resources/drum\ background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 35%;
    opacity: 0.3;
}

.mission .content {
    width: 95%;
    position: relative;
}


@media screen and (max-width: 800px) {
    .mission p {
        font-size: 0.95rem;
    }
}

h2 {
    color: aliceblue;
    font-family: 'Roboto Mono';
    text-align: center;
}

figure img {
    cursor: pointer;
}


figcaption {
    color: aliceblue;
    font-family: 'Roboto Mono';
    cursor: pointer;
}

.images-container {
    position: relative;
    display: flex;
    height: auto;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .images-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.our-team {
    height: auto;
    position: relative;
    margin: 65px 0px;
}

.background-container {
    position: absolute;
    inset: 40px 0px 0px;
    background-image: url('./Resources/our-team.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}


.members-container {
    position: relative;
    top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


.members-description {
    position: relative;
    top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


footer {
    padding: 15px;
}


.contact {
    cursor: pointer;
}


.disclaimer {
    font-size: 0.60rem;
}